<h1>About</h1>


<h3>I am Justin. I am using HTML/CSS, JavaScript, EJS, Express, NodeJS, MongoDB among others to build this simple secure blog that allows you to register, log in, view blog posts, add a post, edit a post, delete a post, search for a post and even log out.</h3>