<div class="contact">
      <h2>Let's work together...</h2>
      <h3>How do you take your coffee?</h3>
</div>

<div class="contact-links">
      <a
        id="profile-link"
        href="https://github.com/Coder-Jay-eng"
        target="_blank"
        class="btn contact-details"
        ><i class="fab fa-github"></i>GitHub</a>
        <a 
        id="email address"
        href=mailto:"jabwunza@gmail.com" 
        target= "_blank"
        class = "btn contact-details">
            <i class="fas fa-at">
                Send a mail
            </i>
        </a>

      <a href="tel: +254758024011" class="btn contact-details"
        ><i class="fas fa-mobile-alt"></i> Call me</a
      >
</div>

