<div class="author">
    <h1 class="author__heading">Hello, I am Justin.</h1>
    <p class="authour__body">Web developer and designer</p>
</div>

<img src="https://images.unsplash.com/photo-1472954253026-157558836cd2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8Mnx8fGVufDB8fHx8&w=1000&q=80" alt="person looking out through window" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="a">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="a" class="pagination">&lt; View Older Posts</a>
</section>